/* General body styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #101827; 
}
/* Welcome header & subheader */
.welcome-text {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 15px;
    color: #d1d5db;
}

.welcome-text h1 {
    font-size: 36px;
}

.welcome-text h2 {
    font-size: 18px;
}
.table-container {
  padding: 20px;
  margin-left: 20px;
    margin-right: 20px; 
    background-color: #4e8f58;
    border-radius: 40px;
    width: 90%;
    height: 80vh;
    justify-content: center;

}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    width: 90%;
    length: 90%;
    color: black;
    background-color: white;


  }
.topnav {
    background-color: #4e8f58;
    overflow: hidden;
    width: 100%
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #101827;
    color: white;
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #101827;
    color: white;
  }
