/* General body styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #101827; /* Light grey background */
}

.logo-container {
    /* position: absolute;  */
    /* top:0; 
    left:0; */
    /* padding: 40px; */

}

.welcome-message{
    font-size: 64px;
}

.logowelcome{
    display: flex;
}

.logo-container img {
    max-width: 150px; 
    display: block;
}


/* Welcome header & subheader */
.welcome-text {
    text-align: center;
    margin-bottom: 20px;
}

.welcome-text h1 {
    font-size: 36px;
}

.welcome-text h2 {
    font-size: 18px;
    color: #d1d5db;
}

.signcreatebox{
    color: black;
}

/* Container for both forms (Sign Up and Sign In) */
.container {
    display: flex;
    justify-content: space-between; /* Space between the left and right sides */
    width: 95%;
    max-width: 1200px;
    background-color: transparent;
}

/* Sign UP */
.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 20px; 
    background-color: #4e8f58; 
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

/* Sign IN */
.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 20px; 
    background-color: #4e8f58; 
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

/* Form container styling (common for both forms) */
.form {
    background-color: #ffffff; /* White background inside the grey box */
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px; /* Max width of the form box */
    text-align: center;
}

/* Headings */
h1 {
    font-size: 24px;
    color: #d1d5db;
    text-align: center;
    margin-bottom: 15px;
}

/* Instructions */
span {
    display: block;
    font-size: 14px;
    color: #d1d5db;
    margin-bottom: 20px;
    text-align: center;
}

/* Input field styles */
input[type="name"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Button styles */
button {
    width: 95%;
    padding: 12px;
    background-color: #1B264E; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #14203B;
}

/* Forgot password link */
a {
    display: block;
    margin-top: 15px;
    color: #1B264E;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

